@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-hue: 0;
  --color-hue-border: 180;
   --color-saturation: 100%;
  --color-lightness: 20%;
 
  --color-main: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));
  --color-border: hsl(var(--color-hue-border),100%,100%);
 
  --gradient-deg: 180deg;
  --gradient-point: 80%;


}

body {
  margin: 0 auto;
  padding: 1rem;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: hsl(var(--color-border-hue),100%,15%);
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid var(--color-border);
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem 0.5rem;
  /* background-color: var(--color-main); */
  background: linear-gradient(var(--gradient-deg), var(--color-main) var(--gradient-point), hsl(var(--color-hue-border), var(--color-saturation), 85%) 100%);
  opacity: 1;
  border-radius: 0.5rem;
}
.result {
  --color-lightness: 95%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  width: calc(100%);
  padding: 1rem 1rem 1rem calc(0.5rem + 42px);
  background-color: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));
  border: 1px solid var(--color-border);
  height: 50px;
  border-radius: 0.25rem;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  max-width: 24ch;
  overflow-wrap: anywhere;
  overflow-y: scroll;
}
.result::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-operator);
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  /* left:0; */
  width: 42px;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  z-index: 10;
  font-size: 1rem;
}
.input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem auto;
  gap: 1rem;
}

button {
  border: 1px solid var(--color-border);
  opacity: 0.8;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: inherit;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  
  will-change: outline, background-color, box-shadow;
  transition: outline 200ms ease-in , background-color 200ms, box-shadow 200ms;
}
.inputWrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 1rem;
  height: 100%;
}
.operatorWrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  gap: 1rem;
}
.operatorWrapper button:nth-child(2){
    grid-column: 2;
}
button.active, button:focus, button:hover ,button:active {
  background-color: rgba(255,255, 255, 0.6);
  outline: 3px solid var(--color-border);
}

button.active, button:hover{
  box-shadow: 0px -5px 19px -4px hsl(var(--color-border-hue),100%,2%) inset;
}
