
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
:root{
    --color-main: 0,0,0;
    --col-bg: rgba(var(--color-main),0.1);
    --col-key-bg: rgba(var(--color-main),0.2);
    --col-display-bg: rgba(var(--color-main), 0.3);
    --col-bg-active: rgba(var(--color-main),0.35);
    --col-border: rgba(var(--color-main), 1)
    --col-operator: rgba(var(--color-main),1)
}
.body{
    margin: 0 auto;
    
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.calculator{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid var(--col-border);
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: var(--col-bg);
    border-radius: 0.25rem;

}
.result{
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    width: calc(100%);
    padding: 1rem 1rem 1rem calc(0.5rem + 42px);
    border: 1px solid var(--col-border);
    height: 50px;
    background-color: var(--col-display-bg);
    border-radius: 0.25rem;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    max-width: 24ch;
    overflow-wrap: anywhere;
    overflow-y: scroll; 
}
.result::before{
    display: flex; 
    justify-content: center;
    align-items: center;
    content: attr(data-operator);
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    /* left:0; */
    width: 42px;
    border: 1px solid black;
    border-radius: 0.25rem;
    z-index: 10;
    font-size: 1rem;
    color: rgba(0,0,0, 0.8);

}
.input{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem auto;
    gap: 1rem;
}

button{
    background-color: var(--col-key-bg);
    border: 1px solid var(--col-border);
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0.125rem;  
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 2rem;
    flex: 1 1 4rem;
    will-change: outline;
    transition: 
        outline 100ms ease-in, 
        background-color 100ms ease-in;
}
.inputWrapper{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 0.5rem;
    height: 100%;
}
.operatorWrapper{
    display: flex;
    flex-wrap: wrap;

}
button.active{
    outline: 2px solid var(--col-border);
    background-color: var(--col-bg-active);
}